.reg-page {
    background-image: url(maj-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: none;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    position: relative;
}

.profile-page {
    background-image: url(profile-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: none;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.logo {
    position: absolute;
    left: 36px;
    top: 10px;
    width: 300px;
    height: 30px;
    color: #ffffff;
    font-size: 35px;
    font-family: DM Sans, "Regular";
    font-weight: 900;
    text-align: left;
}
a {
    text-decoration: none;
}

.login-note {
    position: absolute;
    left: 1037px;
    top: 42px;
    width: 300px;
    height: 26px;
    color: #ffffff;
    font-size: 20px;
    font-family: DM Sans, "Regular";
    font-weight: 900;
    text-align: left;
    vertical-align: top;
}

.login-page-link {
    position: absolute;
    display: flex;
    left: 1314px;
    top: 42px;
    height: 26px;
    color: #ffffff;
    font-size: 20px;
    font-family: DM Sans, "Regular";
    font-weight: 900;
    text-align: left;
    vertical-align: top;
}

.reg-form {
    justify-content: flex-start;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.form {
    display: flex;
    margin: auto;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    padding: 1rem;
    width: 350px;
    height: 500px;
    border-radius: 4px;
    color: #ffffff;
}

input {
    background-color: white;
    width: 350px;
    height: 35px;
    border-radius: 7px;
    border-style: hidden;
    display: block;
    margin: auto;
}

img {
    height: 500px;
    width: 500px;
}

.form input:not(:last child){
    border: 1px #c1e8ff solid;
    height: 30px;
    border-radius: 4px;
    padding: 2rem;
    outline: none;
}

.form input:last-child {
    width: 70px;
    height: auto;
    padding: .5rem;
    display: block;
    margin: auto;
    font-family: DM Sans, "Regular";
    font-weight: 400;
    transition: all 250ms ease-in;
}

.form input:last-child:hover{
    background-color: grey;
}

.form input:last-child:focus {
    scale: .95;
}

.login-page {
    background-image: url(maj-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: none;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    position: relative;
}
.login-page-content {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.reg-form-content {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

 .form-content {
    justify-content: right;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    padding: 20px;
 }
 
 .login-form {
    display: flex;
    margin: auto;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: .5rem;
    padding: 1rem;
    width: 350px;
    color: #ffffff;
 }

 .form-content input:last-child {
    width: 70px;
    height: auto;
    padding: .5rem;
    display: block;
    margin: auto;
    font-family: DM Sans, "Regular";
    font-weight: 400;
    transition: all 250ms ease-in;
 }

 .home-page {
    background-image: url(home-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: none;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    position: relative;
 }

 .study-page {
    background-image: url(quiz.bcg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: none;
    height: 100vh;
    display: grid;
    position: relative;
 }

 .home-page-content{
    display: flex;
    justify-content: space-evenly;
 }

 .study-btn {
    width: 312px;
    height: 333px;
    background-color:#000000;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 15px;
    border-style: hidden;
    align-items: center;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
 }

 .take-quiz-btn {
    width: 312px;
    height: 333px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 15px;
    border-style: hidden;
    align-items: center;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
 }

.course-gallery {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.quiz {
    width: 100px;
    height: 100px;
    opacity: 95%;
    color: #ffffff;
    background-color: #000000;
}

.quiz-white {
    width: 100px;
    height: 100px;
    opacity: 95%;
    color: #000000;
    background-color: #ffffff;
}

.quiz-white:hover{
    background-color: grey;
}

.quiz-white:focus {
    scale: .98;
 }

.quiz:hover{
    background-color: grey;
}

.quiz:focus {
    scale: .98;
 }

 button {
    transition: all 250ms ease-in;
 }

 button:focus {
    scale: .98;
 }

 button:hover{
    background-color: grey;
 }
 .course-gallery {
    display: flex;
    margin: auto;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: .5rem;
    padding: 1rem;
    width: 350px;
 }

 .home-logo {
    position: absolute;
    left: 36px;
    top: 10px;
    width: 300px;
    height: 30px;
    font-size: 35px;
    font-family: DM Sans, "Regular";
    font-weight: 900;
    text-align: left;
    color: #000000;
 }
 .home-profile-link {
    position: absolute;
    display: flex;
    left: 1314px;
    top: 42px;
    height: 26px;
    color: #000000;
    font-size: 20px;
    font-family: DM Sans, "Regular";
    font-weight: 900;
    text-align: left;
    vertical-align: top;
 }

 .quiz-page {
    background-color: beige;
 }