<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\GLORY\Desktop\flask app\Hammers Quiz\static\styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <title>Hammerz!/quiz</title>
</head>
<body class="quiz-center">
    <header>
        <h1>Lets Go!</h1>
    </header>
    <div class="questions-box">
        <div class="question">
            <fieldset>

            </fieldset>
        </div>
        <div class="options">
            <div id="container">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div id="container 2">
                 <input type="checkbox">
                 <input type="checkbox">
            </div>
        </div>
    </div>
</body>
</html>